Create table tblProductCategories
(
 CategoryId int identity primary key,
 CategoryName nvarchar(50),
)

Insert into tblProductCategories values ('Electronics')
Insert into tblProductCategories values ('Sports')
Insert into tblProductCategories values ('Kitchen') 