<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sample_ADO.netWindowsFormsApp.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=SARIMANOK\HYDRASERVER;Initial Catalog=Northwind;Persist Security Info=True;User ID=SA;Password=system123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>