<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CS"
          connectionString="Data Source=SARIMANOK\HYDRASERVER;Initial Catalog=TrexCorp;Persist Security Info=True;User ID=SA;Password=system123"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>